<div class="container">
 <div class="row">
   <div class="col-md-4">
     <h5 class="ml-3 mt-3"><%= @user.name %>さんプロフィール</h5>
   </div>

     <div class="col-5">
       <div class="card w-100 mx-auto mt-4 shadow-lg">
        <%= image_tag @user.get_image, size: "150x150", class: 'card-img-top　img-responsive-overwrite mx-auto' %>
         <div class="card-body">
           <p>ユーザーネーム：<strong><%= @user.name %></strong></p>
           <div class="m-3">紹介文</div>
            <%= @user.introduction %>
            <div class="row">
              <div class="col-3">
               <% if @user != current_user %>
                 <% if current_user.following?(@user) %>
                  <%= link_to "フォロー外す", user_user_relationships_path(@user.id), method: :delete, class:'btn btn-danger' %>
                 <% else %>
                  <%= link_to "フォローする", user_user_relationships_path(@user.id), method: :post, class: 'btn btn-success' %>
                 <% end %>
               <% end %>
              </div>
              <div class="col mt-2">
                <% if @user == current_user %>
                 <div class="text-right"><%= link_to '編集', edit_user_user_path(@user.id), class:'btn btn-success' %></div>
                <% end %>
              </div>
            </div>
         </div>
       </div>
      </div>
   </div>
<div class="col-md-4"></div>

<h5 class="ml-3 mt-3"><%= @user.name %>さんの新着投稿</h5>
 <div class="row">
   <div class="col-12 d-flex flex-row">
    <% if @post %>
      <% @post.each do |post| %>
      <div class="card ml-3 shadow-sm">
       <%= image_tag post.get_image, size: "140x140",class: 'card-img-top' %>
        <div class="card-body auto">
         <div class="card-text"><%= link_to post.title, user_post_path(post.id) %></div>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>現在このユーザーの投稿はありません</p>
    <% end %>
   </div>
 </div>
 
</div>
