<div class="container">
<div class="jumbotron my-auto bg-light">
  <div class="slick">
      <div>
        <%= image_tag 'IMG_3260',size: "250x400", class: 'col' %>
      </div>
      <div>
        <%= image_tag 'photo0000-4040',size: "250x400", class: 'col' %>
      </div>
      <div>
        <%= image_tag 'photo0000-3542',size: "250x400", class: 'col' %>
      </div>
      <div>
        <%= image_tag 'yam0080-009',size: "250x400", class: 'col' %>
      </div>
  </div>
    <h4 class="display-6">ようこそJpanSympathyfunへ!</h4>
</div>

     <div class="row">
       <div class="col-md-4">
          <h3 class="ml-3 mt-3">新規投稿</h3>
        </div>
     </div>
       <div class="album py-5 bg-light">
        <div class="row mt-3">
          <% @post_all.each do |post| %>
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                <%= image_tag post.get_image, size: "180x180", class: 'card-img-top img-responsive-overwrite mx-auto' %>
                  <div class="card-body">
                    <p class="card-text"><%= link_to post.title, user_post_path(post.id) %></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <item>
                        <%= image_tag post.user.get_image, size: "30x30" %>
                        <%= link_to post.user.name, user_user_path(post.user.id) %>
                        </item>
                        <small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small>
                      </div>
                  </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="row justify-content-md-center my-"><%= paginate @post_all %></div>
    <%= render 'user/posts/post_rank', rank: @rank %>
  </div>

