<h1>EDITページ</h1>

<%= form_with model: @post, url: user_post_path, method: :patch, local: true do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <p>title</p>
      <%= f.text_field :title %>

      <p>body</p>
      <%= f.text_area :body %><br>

      <%= f.submit 'Update' %>
    <% end %>
    <%= link_to 'Back', user_post_path %>
    |
    <%= link_to 'index', user_posts_path %>
