<div class="container">
  <div class="row mb-3">
    <div class="col-md-4">
      <h3 class="ml-5 mt-3">ユーザー情報編集</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-6 card w-100 mx-auto mt-4 shadow-lg">
        <%= image_tag @user.get_image, size: "150x150", class: 'card-img-top　img-responsive-overwrite mx-auto' %>
          <div class="card-body">
            <table class="table mb-5">
              <tr>
                <td>ユーザーネーム</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>紹介文</td>
                <td><%= @user.introduction %></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <td>
                  <% if @user.is_deleted == true %>
                  <div class="text-secondary font-weight-bold">退会</div>
                  <% else %>
                  <div class="text-success font-weight-bold">有効</div>
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="form-group">
          <%= form_with model: @user, url: admin_user_path, method: :patch, local: true do |f| %>
          <div class="col-2"><%= f.label :画像 %></div>
          <%= f.file_field :profile_image, accept: "image/*" %>
          <div class="mt-2"><%= f.label :ユーザーネーム %></div>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          <div class="mt-2"><%= f.label :自己紹介文 %></div>
          <%= f.text_area :introduction, autofocus: true, class: 'form-control' %><br>
          <div colspan="2" class="pt-2"><%= f.label :会員ステータス %></div>
          <div class="pt-2">
          <%= f.radio_button :is_deleted, false %> <%= f.label :is_deleted, "有効", value: true %>
          <%= f.radio_button :is_deleted, true %> <%= f.label :is_deleted, "退会", value: false %>
          </div>
          <%= f.submit '更新', class:'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
</div>