<div class="container">
  <div class="text-success mt-1"><%= notice %></div>
  <div class="row">
    <div class="col-md-4">
     <h5 class="ml-3 mt-3"><%= @user.name %>さんプロフィール</h5>
    </div>
  </div>
    <div class="row">
      <div class="col-6 card w-100 mx-auto mt-4 shadow-lg">
        <%= image_tag @user.get_image, size: "150x150", class: 'card-img-top　img-responsive-overwrite mx-auto' %>
          <div class="card-body">
            <table class="table mb-5">
              <tr>
                <td>ユーザーネーム</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>紹介文</td>
                <td><%= @user.introduction %></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <td>
                  <% if @user.is_deleted == true %>
                  <div class="text-secondary font-weight-bold">退会</div>
                  <% else %>
                  <div class="text-success font-weight-bold">有効</div>
                  <% end %>
                </td>
              </tr>
            </table>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <%= link_to 'ユーザー情報編集', edit_admin_user_path(@user.id), class:'btn btn-success' %>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="ml-3 mt-3"><%= @user.name %>さんの投稿</h5>
      </div>
    </div>
    <div class="row mt-3">
      <% if @user.post.exists? %>
      <% @post.each do |post| %>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag post.get_image, size: "180x180", class: 'card-img-top img-responsive-overwrite mx-auto' %>
              <div class="card-body">
                <p class="card-text"><%= link_to post.title, admin_post_path(post.id) %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <item>
                      <%= image_tag post.user.get_image, size: "30x30" %>
                      <%= link_to post.user.name, admin_user_path(post.user.id) %>
                    </item>
                    <small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
          <p>現在このユーザーの投稿はありません</p>
        <% end %>
    </div>
  </div>




